$banner-header-color: #CF0202
$main-gradient-start: #E40000
$main-gradient-end: rgba(77, 4, 4, 0.8)

$main-lighting-border: #b70600
$main-lighting-light: rgba(255, 122, 88, 0.30)

$main-font: 14px Arial,Verdana,Tahoma,sans-serif
$advant-box-font-family: 'museobold',TimesNewRoman,Verdana,Tahoma,sans-serif

a
  text-decoration: none
  color: #000

a:hover
  text-decoration: none

ul,ol
  list-style: none
  margin: 0
  padding: 0

label
  margin-bottom: 0

img
  max-width: 100%

.icon
  position: relative

.label
  font-size: 100%
  
body
  margin: 0
  background-color: #e7e9ed
  position: relative
  font: $main-font

header
  max-height: 80px
  overflow: hidden
  padding: 16px 0 12px
  text-align: center
  background-color: #FFFFFF

footer
  overflow: hidden
  padding-top: 20px
  background: #FFFFFF

.title
  font-size: 28px
  font-weight: bold
  padding-top: 30px
  padding-bottom: 15px

.small-title
  font-size: 18px
  font-weight: bold
  padding: 8px 0 15px

.inlineBlock
  display: inline-block

.row
  display: table

.row [class*="col-"]
  float: none
  display: table-cell
  vertical-align: top

.banner-header
  padding-bottom: 20px
  color: $banner-header-color
  text-transform: uppercase
  display: block
  font-size: 24px
  -webkit-margin-before: 1em
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px
  font-weight: bold

.high-text
  font-size: 18px
  line-height: 23px

.contrast
  color: #FFFFFF

.personage
  background: url(../img/personages.png) no-repeat
  height: 235px
  overflow: hidden
  pointer-events: none
  position: absolute
  opacity: 1
  z-index: 10
  -webkit-transition: opacity .3s
  -moz-transition: opacity .3s
  -ms-transition: opacity .3s
  -o-transition: opacity .3s
  transition: opacity .3s

.border-row
  border-top: 1px solid #CCCCCC

.box-shadow
  box-shadow: inset 0 8px 8px -8px rgba(0,0,0,.1)


.mainWrapper
  width: 100%
  max-width: 1280px
  margin: 0 auto
  background-color: #F4F7FB
  box-shadow: 0 1px 18px 0 rgba(0,0,0,.1)

.icon:before
  content: ''
  background: url('../img/sprite.png') no-repeat
  display: inline-block
  position: absolute

.header-inner, .promo-inner, .banner-inner, .carousel-stock-inner, .stats-inner, .app-box-inner-wrapper, .benefits-inner, .footer-inner, .footer-nav, .promo-restaurants-inner, .inner
  max-width: 962px
  margin: 0 auto

.nav-top .place 
  float: left
  line-height: 55px
  
.col-centered
  float: none
  margin: 0 auto

.header-logo:hover
  opacity: .8

.header-logo img
  max-height: 50px

.header-inner
  height: 50px
  background: #F4F7FB

.search-bar,.search-bar-mini
  line-height: 39px


.search-bar .button,.search-bar-mini .button
  position: absolute
  bottom: 1px


.search-bar button,.search-bar-mini button
  border: 0
  background: 0
  width: 39px
  height: 38px
  padding: 0
  vertical-align: middle


.search-bar button:before,.search-bar-mini button:before
  background-position: 0 0
  width: 100%
  height: 100%
  left: 0
  top: 0


.search-bar input.styler[type="text"],.search-bar-mini input.styler[type="text"]
  -webkit-border-radius: 39px
  -moz-border-radius: 39px
  border-radius: 39px


.search-bar
  position: relative
  max-width: 910px
  top: 35px
  left: 30px


.search-bar .button
  left: 0


.search-bar input.styler[type="text"]
  width: 100%
  padding-left: 140px


.search-bar .legend
  position: absolute
  left: 50px
  color: #898b93
  font-size: 16px


.search-bar-mini
  width: 290px
  display: inline-block
  position: absolute
  left: 50%
  margin-left: -145px


.search-bar-mini .button
  right: 0


.search-bar-mini input.styler[type="text"]
  width: 100%
  padding-left: 25px
  color: #898b93
  font-size: 13px
  

.nav-top .place span 
  color: #898b93
  margin-right: 16px
  line-height: 38px
  display: inline-block
  padding-left: 15px
  

.nav-top .place span.icon 
  padding-left: 35px
  

.nav-top .place span:after 
  content: ''
  background: url(../img/sprite.png) no-repeat -50px -29px
  width: 10px
  height: 8px
  display: inline-block
  opacity: 1
  -webkit-transition: opacity .25s ease-in-out
  -moz-transition: opacity .25s ease-in-out
  -ms-transition: opacity .25s ease-in-out
  -o-transition: opacity .25s ease-in-out
  transition: opacity .25s ease-in-out
  

.nav-top .place span:hover 
  cursor: pointer
  

.nav-top .place span:hover:after 
  opacity: .5
  

.nav-top .place i 
  margin-right: 7px
  

.nav-top .authoriz 
  float: right
  

.nav-top .authoriz a 
  display: inline-block
  color: #898b93
  height: 55px
  line-height: 55px
  padding: 0 15px
  background-color: rgba(0,0,0,0)
  -webkit-transition: background-color .5s
  -moz-transition: background-color .5s
  transition: background-color .5s
  text-decoration: none
  

.nav-top .authoriz a:before 
  opacity: 1
  -webkit-transition: opacity .25s ease-out
  -moz-transition: opacity .25s ease-out
  -ms-transition: opacity .25s ease-out
  -o-transition: opacity .25s ease-out
  transition: opacity .25s ease-out
  

.nav-top .authoriz a.reg:before 
  background-position: -188px 0
  width: 26px
  height: 27px
  vertical-align: middle
  margin-top: -13px
  left: 12px
  top: 50%
  

.nav-top .authoriz a.signin:before 
  background-position: -214px 0
  width: 20px
  height: 26px
  vertical-align: middle
  margin-top: -13px
  left: 12px
  top: 50%
  

.nav-top .authoriz a:hover 
  background-color: #eaebf2
  

.nav-top .authoriz a:hover:before 
  opacity: .5

.nav-top .authoriz
  .regist, .enter
    margin-left: 5px
  

.nav-top .city:before 
  background-position: -61px 0
  width: 21px
  height: 25px
  opacity: 1
  left: 5px
  top: 7px
  -webkit-transition: opacity .25s ease-in-out
  -moz-transition: opacity .25s ease-in-out
  -ms-transition: opacity .25s ease-in-out
  -o-transition: opacity .25s ease-in-out
  transition: opacity .25s ease-in-out
  

.nav-top .city:hover:before 
  opacity: .5
  

.nav-top .metro:before,.nav-top .district:before 
  width: 27px
  height: 28px
  opacity: 1
  left: 0
  top: 7px
  -webkit-transition: opacity .25s ease-in-out
  -moz-transition: opacity .25s ease-in-out
  -ms-transition: opacity .25s ease-in-out
  -o-transition: opacity .25s ease-in-out
  transition: opacity .25s ease-in-out
  

.nav-top .metro:hover:before,.nav-top .district:hover:before 
  opacity: .5
  

.nav-top .metro:before 
  background-position: -82px 0
  

.nav-top .district:before 
  background-position: -635px 0
  

.nav-top i 
  font-style: normal
  border-bottom: 1px dotted #50535e

.nav-top .fa
  font-size: 20px
  border-bottom: none
  

#location-notify 
  background-color: #FFF
  text-align: center
  padding: 18px 30px
  color: #838383
  line-height: 18px
  position: absolute
  top: 60px
  left: -11px
  border: 1px solid #c7c7c7
  width: 280px
  opacity: 0
  display: none
  z-index: 100
  -webkit-transition: opacity .3s
  -moz-transition: opacity .3s
  transition: opacity .3s
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 2px 13px
  -moz-box-shadow: rgba(0,0,0,0.3) 0 2px 13px
  box-shadow: rgba(0,0,0,0.3) 0 2px 13px
  

#location-notify strong 
  display: inline-block
  color: #000
  margin-bottom: 18px
  

#location-notify:before 
  background: url(../img/angle.png) no-repeat
  content: ''
  display: inline-block
  height: 23px
  position: absolute
  top: -23px
  left: 0
  width: 50px
  

#location-notify.visible 
  opacity: 1
  z-index: 95
  
.place-dropdown 
  display: inline-block
  position: relative
  margin: 0 auto
  outline: 0
  -webkit-transition: width .6s ease-out
  -moz-transition: width .6s ease-out
  -ms-transition: width .6s ease-out
  -o-transition: width .6s ease-out
  transition: width .6s ease-out
  

.place-dropdown input 
  width: 0
  height: 0
  visibility: hidden
  

.place-dropdown .dropdown,.dd-user-nav,.dd-msg,.dd-bkm 
  position: absolute
  top: 60px
  margin-top: 1px
  z-index: 1000
  border: 1px solid #c7c7c7
  background: white
  border-top: 0
  display: none
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 2px 13px
  -moz-box-shadow: rgba(0,0,0,0.3) 0 2px 13px
  box-shadow: rgba(0,0,0,0.3) 0 2px 13px
  -webkit-transition: opacity .3s ease-out
  -moz-transition: opacity .3s ease-out
  -ms-transition: opacity .3s ease-out
  -o-transition: opacity .3s ease-out
  transition: opacity .3s ease-out
  

.place-dropdown .dropdown:hover,.dd-user-nav:hover,.dd-msg:hover,.dd-bkm:hover 
  cursor: pointer
  

.place-dropdown .dropdown:before,.dd-user-nav:before,.dd-msg:before,.dd-bkm:before 
  content: ''
  background: url(../img/angle.png) no-repeat
  width: 50px
  height: 23px
  display: inline-block
  top: -23px
  position: absolute
  

.place-dropdown .dropdown 
  left: -11px
  

.dd-bkm,.dd-msg 
  right: -11px
  

.dd-user-nav 
  right: -20px
  

.dd-msg,.dd-bkm 
  width: 294px
  

.dd-msg:before,.dd-bkm:before,.dd-user-nav:before 
  right: 0
  

.place-dropdown .dropdown 
  width: 252px
  

.place-dropdown .dropdown-scroll 
  padding: 6px 0
  max-height: 276px
  overflow-y: auto
  overflow-x: hidden
  

.place-dropdown .dropdown-list li,.user-persone .dropdown-list li 
  color: #898b93
  padding: 0 14px
  height: 35px
  line-height: 35px
  white-space: nowrap
  

.place-dropdown .dropdown-list a,.user-persone .dropdown-list a 
  color: #898b93
  

.dropdown-list .item 
  overflow: hidden
  padding: 14px 0
  

.dropdown-list .item .img 
  border: 1px solid #d5d5d5
  float: left
  width: 43px
  height: 43px
  

.dropdown-list .item .info 
  padding-left: 59px
  

.dropdown-list .item .info a 
  border-bottom: 1px solid #d5d5d5
  color: #898b93
  font-size: 12px
  line-height: 13px
  margin-top: 4px
  

.dropdown-list .item .info a:hover 
  border-color: #FFF
  

.dropdown-list li 
  font-size: 14px
  position: relative
  border-left: 2px solid transparent
  

.dropdown-list li .remove 
  display: none
  position: absolute
  top: 17px
  right: 19px
  width: 8px
  height: 10px
  

.dropdown-list li .remove:before 
  background-position: -119px -28px
  width: 8px
  height: 10px
  line-height: 10px
  

.dropdown-list li:hover 
  background-color: #e6ebf2
  border-left-color: #c2c8d0
  

.dropdown-list li:hover .remove 
  display: inline-block
  

.place-dropdown .dropdown-list .jq-radio__div 
  margin-right: 9px
  

.place-dropdown .dropdown-list li label 
  display: block
    
  
  
.promo
  position: relative
  height: 564px
  margin-bottom: 30px
  background: radial-gradient(ellipse, $main-gradient-start, $main-gradient-end)

.promo-restaurants
  position: relative
  background: radial-gradient(ellipse, $main-gradient-start, $main-gradient-end)

.promo .personage
  width: 205px
  bottom: -13px
  left: -7px
  background-position: 0 0

.promo-bg-form
  background: url(../img/food-bg.png) no-repeat center 137px
  height: 100%

.promo-inner
  max-width: 916px
  height: 564px

.advant
  width: 100%
  margin: 0 auto
  padding: 27px 0 34px

.advant-box
  display: inline-block
  color: #fff
  vertical-align: top

.advant-box b
  font-family: $advant-box-font-family
  font-size: 22px

.advant-box i
  font-size: 50px
  padding-top: 15px
  padding-right: 0px

.advant-box p
  font-size: 12px
  height: 56px
  margin-top: 10px

.advant-box.b1
  width: 40%

.advant-box.b1 p
  background-position: 0 0

.advant-box.b2
  width: 34%

.advant-box.b2 p
  background-position: 0 -56px

.advant-box.b3
  width: 25%

.advant-box.b3 p
  background-position: 0 -112px

.advant-box-logo
  height: 80px
  width: 50px
  text-align: center
  vertical-align: top


.advant-box-text
  width: 220px
  padding-left: 10px

.tabs .tab
  visibility: hidden
  display: none

.tabs .tab.visible
  visibility: visible
  display: block

.jq-checkbox
  top: -1px
  vertical-align: middle
  cursor: pointer


.jq-checkbox .jq-checkbox__div
  background: url(../img/checkbox.png) no-repeat 0 -1px
  width: 19px
  height: 18px


.jq-checkbox.checked .jq-checkbox__div
  background-position: -19px -1px


.jq-checkbox.focused
  border: 1px solid #08C


.jq-checkbox.disabled
  opacity: .55
  filter: alpha(opacity=55)


.jq-radio
  vertical-align: middle
  cursor: pointer


.jq-radio .jq-radio__div
  background: url(../img/checkbox.png) no-repeat -39px 0
  width: 19px
  height: 20px


.jq-radio.checked .jq-radio__div
  background-position: -60px 0


.jq-radio.focused
  border: 1px solid #08C


.jq-radio.disabled
  opacity: .55
  filter: alpha(opacity=55)
  

.switch
  position: relative
  height: 66px
  width: 142px
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px


.switch label
  float: left
  display: inline-block
  position: relative
  width: 71px
  height: 30px
  line-height: 40px
  font-size: 14px
  font-weight: bold
  color: #898b93
  text-align: center
  text-shadow: 0 1px 0 #FFF
  cursor: pointer


.switch label span
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0
  z-index: 3


.switch .switch-off .jq-radio,.switch .switch-on .jq-radio
  right: 1px
  bottom: 1px
  border-radius: 0


.switch .switch-off .checked,.switch .switch-on .checked
  background: #dadde3
  box-shadow: 0 2px 4px rgba(0,0,0,0.19) inset


.switch .switch-off .jq-radio
  border-bottom-left-radius: 5px
  border-top-left-radius: 5px


.switch .switch-off .checked
  border-right: 0


.switch .switch-on .jq-radio
  border-bottom-right-radius: 5px
  border-top-right-radius: 5px


.switch .switch-on .checked
  border-left: 0


.switch .jq-radio
  z-index: 2
  width: 71px
  height: 40px
  border-width: 1px
  border-style: solid
  border-color: #CCC #CCC #b3b3b3
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  background-color: #f5f5f5
  background-image: -moz-linear-gradient(top,white,#e6e6e6)
  background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#e6e6e6))
  background-image: -webkit-linear-gradient(top,white,#e6e6e6)
  background-image: -o-linear-gradient(top,white,#e6e6e6)
  background-image: linear-gradient(to bottom,#fff,#e6e6e6)
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#E6E6E6',GradientType=0)


.switch .jq-radio:hover
  opacity: .8


.switch .jq-radio__div
  display: none
  
.promo-inner .form .field, .promo-inner .form .button, .promo-inner .form .switch
  display: inline-block
  margin-right: 4px
  vertical-align: bottom

.promo-inner
  margin-bottom: 30px

.promo-inner .form
  background-color: #fff
  margin: 30px 0 0 12px

.promo-inner .form .field,.promo-inner .form .button,.promo-inner .form .switch
  display: inline-block
  margin-right: 4px
  vertical-align: bottom

.promo-inner .field .label,.promo-inner .switch .label
  display: block
  font-weight: bold
  font-size: 14px
  padding: 0 0 12px
  color: #50535e

.promo-inner .kitchens .jq-selectbox
  width: 292px

.promo-inner .price .jq-selectbox
  width: 142px

.promo-inner .button
  width: 142px
  white-space: nowrap


.promo-inner .button button
  height: 40px
  width: 100%

.promo-inner .example
  color: #898b93
  font-size: 12px
  line-height: 16px
  padding-top: 11px

.promo-inner .example a
  border-bottom: 1px dotted #50535e
  color: #424651
  text-decoration: none

.promo-inner .example a:hover
  border-bottom: 0

.promo-inner .btn-tabs
  text-align: center
  padding-top: 13px
  font-size: 0
  margin-bottom: 18px

.promo-inner .btn-tabs
  min-height: 20px

.promo-inner .btn-tabs .btn-tab
  color: #898b93
  font-size: 14px
  font-weight: bold
  line-height: 20px
  text-shadow: 0 1px 0 #fff
  padding: 4px 12px
  display: inline-block
  border: 1px solid #ccc
  text-align: center
  background-color: #f5f5f5
  background: -moz-linear-gradient(to bottom,white,#e6e6e6)
  background: -webkit-gradient(linear,left top,left bottom,color-stop(white),color-stop(#e6e6e6),color-stop(100%,#5ba921))
  background: -webkit-linear-gradient(to bottom,white,#e6e6e6)
  background: -o-linear-gradient(to bottom,white,#e6e6e6)
  background: -ms-linear-gradient(to bottom,white,#e6e6e6)
  background: linear-gradient(to bottom,#fff,#e6e6e6)
  -webkit-box-shadow: rgba(255,255,255,0.2) 0 1px 0 inset,rgba(0,0,0,0.05) 0 1px 2px
  -moz-box-shadow: rgba(255,255,255,0.2) 0 1px 0 inset,rgba(0,0,0,0.05) 0 1px 2px
  box-shadow: rgba(255,255,255,0.2) 0 1px 0 inset,rgba(0,0,0,0.05) 0 1px 2px
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff',endColorstr='#e6e6e6',GradientType=0)

.promo-inner .btn-tabs .btn-tab:first-child
  border-bottom-left-radius: 4px
  border-top-left-radius: 4px

.promo-inner .btn-tabs .btn-tab:last-child
  border-bottom-right-radius: 4px
  border-top-right-radius: 4px
  border-right-width: 1px

.promo-inner .btn-tabs .btn-tab.active
  background: none repeat scroll 0 0 #dadde3
  box-shadow: 0 2px 4px rgba(0,0,0,0.19) inset
  font-weight: bold

.promo-inner .tab .items
  text-align: center
  font-size: .01px

.promo-inner .tab .item
  background-color: #fff
  border: 1px solid #ccced2
  display: inline-block
  margin: 0 4px
  width: 142px
  height: 147px
  vertical-align: middle
  padding-top: 7px
  position: relative
  overflow: hidden
  z-index: 2
  box-shadow: 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  -webkit-transition: border .25s ease-in-out 0s,box-shadow .25s ease-in-out 0s
  -moz-transition: border .25s ease-in-out 0s,box-shadow .25s ease-in-out 0s
  transition: border .25s ease-in-out 0s,box-shadow .25s ease-in-out 0s

.promo-inner .tab .item img
  height: 92px

.promo-inner .tab .item h3
  font-family: 'museobold',Arial,Verdana,Tahoma,sans-serif
  text-align: left
  color: #898b93
  text-transform: uppercase
  font-size: 14px
  font-weight: normal
  padding: 0 16px
  margin-top: 14px
  white-space: nowrap

.promo-inner .tab .item:hover
  border-color: $main-lighting-border
  -webkit-box-shadow: $main-lighting-border 0 0 0 1px,$main-lighting-light 0 0 11px
  -moz-box-shadow: $main-lighting-border 0 0 0 1px,$main-lighting-light 0 0 11px
  box-shadow: $main-lighting-border 0 0 0 1px, $main-lighting-light 0 0 11px

.banner-inner
  border: 1px solid #dfe0e2
  height: 239px
  max-width: 962px
  margin: 12px auto
  padding: 17px 28px 24px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  background: url(../img/invite-bg.jpg) no-repeat center center

.banner-inner p
  font-size: 19px
  color: #393939
  line-height: 21px

.carousel-stock-inner
  background-color: #fff
  border: 1px solid #dfe0e2
  max-width: 962px
  margin: 12px auto
  padding: 17px 28px 24px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px

.stats
  position: relative
  height: 108px
  background: radial-gradient(ellipse, $main-gradient-start, $main-gradient-end)

.stats-inner
  padding-top: 25px

.stats-content
  overflow: hidden
  float: left
  display: inline-block

.stats-content-text
  display: inline-block
  padding: 0 25px 0 10px

.stats .personage
  background-position: -205px 0
  right: 36px
  bottom: 0
  width: 159px


.breadcrumbs
  padding: 15px 0 20px
  color: #737272

.breadcrumbs li
  display: inline-block


.breadcrumbs a
  color: #737272


.breadcrumbs a:hover
  border-bottom: 1px solid #d5d5d5


.breadcrumbs span
  margin-right: 7px

.catalog-filter-wrapper
  background-color: #eaebf2

.catalog-filter
  border-top-left-radius: 5px


.catalog-filter .field
  border-bottom: 1px solid #dedee0
  padding: 21px 21px 24px 24px


.catalog-filter .field:last-child
  border-bottom: 0


.catalog-filter .label
  display: inline-block
  color: #50535e
  text-shadow: 0 1px 0 #fff
  font-weight: bold
  padding: 0 0 12px


.catalog-filter label
  display: block
  margin: 12px 0
  cursor: pointer


.catalog-filter .jq-selectbox
  width: 100%


.catalog-filter .jq-checkbox
  margin-right: 3px

.restaurants-list-wrapper
  background-color: #ffffff

.b-similar
  padding-top: 22px
  padding-bottom: 22px


.b-similar h2
  font-family: 'museo',Arial,Verdana,Tahoma,sans-serif
  font-size: 18px
  padding: 16px 0 16px 3px
  font-weight: normal


.b-similar .item
  background-color: #FFF
  padding: 10px
  margin-bottom: 20px
  border: 1px solid #dfe0e2
  position: relative
  width: 100%
  -webkit-transition: border .25s ease-in-out 0s,box-shadow .25s ease-in-out 0s
  -moz-transition: border .25s ease-in-out 0s,box-shadow .25s ease-in-out 0s
  transition: border .25s ease-in-out 0s,box-shadow .25s ease-in-out 0s
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box


.b-similar .item h3
  font-family: 'museo',Arial,Verdana,Tahoma,sans-serif
  font-size: 21px
  font-weight: normal
  line-height: 18px
  margin-top: 0px
  margin-bottom: 5px


.b-similar .item.notwork .info
  opacity: .3


.b-similar .item:hover
  border-color: $main-lighting-border
  -webkit-box-shadow: $main-lighting-border 0 0 0 1px,$main-lighting-light 0 0 11px
  -moz-box-shadow: $main-lighting-border 0 0 0 1px,$main-lighting-light 0 0 11px
  box-shadow: $main-lighting-border 0 0 0 1px, $main-lighting-light 0 0 11px


.b-similar .img
  border: 1px solid #dfe0e2
  float: left
  width: 121px
  height: 121px
  position: relative
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px


.b-similar .img img
  display: block
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px


.b-similar .info
  padding-left: 140px
  position: relative


.b-similar small
  font-size: 12px
  color: #000


.b-similar .label-best:before,.b-similar .label-balls:before
  content: ''
  display: block
  width: 82px
  height: 76px
  position: absolute
  left: -5px
  top: -4px


.b-similar .label-best:before
  background: url(../img/the-best.png) no-repeat


.b-similar .label-balls:before
  background: url(../img/the-balls.png) no-repeat


.b-similar .rating
  position: absolute
  right: 15px
  top: 14px
  width: 68px
  white-space: nowrap
  overflow: hidden
  -webkit-transition: width .2s
  -moz-transition: width .2s
  transition: width .2s


.b-similar .dop-info
  color: #c2c2c2
  font-size: 11px
  margin: 10px 0 0
  padding: 5px 5px 0 24px


.b-similar .dop-info:before
  background-position: -703px 0
  height: 16px
  left: 0
  top: 4px
  width: 16px


.b-similar .button
  padding-top: 22px
  margin-bottom: 44px
  text-align: center


.b-similar .item a
  display: block


.b-similar .item a:hover .rating
  width: 270px

.dl-list dl
  display: inline-block
  vertical-align: top
  padding: 0 25px
  margin: 22px 0 0
  border-left: 1px solid #d7d7d7


.dl-list dl:first-child
  padding-left: 0
  border-left: 0


.dl-list dl:last-child
  padding-right: 0


.dl-list dt
  max-width: 80px
  font-size: 12px
  color: #898b93
  line-height: 14px
  margin-bottom: 10px


.dl-list dd
  font-family: 'museo',Arial,Verdana,Tahoma,sans-serif
  font-size: 16px
  line-height: 18px
  color: #000
  margin: 0
  white-space: nowrap

.box-tooltip,.h-tooltip
  position: relative


.box-tooltip:hover .b-tooltip,.h-tooltip:hover .b-tooltip
  display: block


.box-tooltip
  display: inline-block


.b-tooltip
  display: none
  font-family: Arial,Verdana,Tahoma,sans-serif
  font-size: 12px
  font-style: normal
  font-weight: normal
  background: #FFF
  position: absolute
  width: 220px
  pointer-events: none
  padding: 15px
  color: #000
  text-align: left
  line-height: 14px
  z-index: 100
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  -webkit-box-shadow: rgba(0,0,0,0.27) 0 1px 9px
  -moz-box-shadow: rgba(0,0,0,0.27) 0 1px 9px
  box-shadow: rgba(0,0,0,0.27) 0 1px 9px


.b-tooltip.tc
  bottom: 125%
  left: 50%
  margin-left: -110px


.b-tooltip.tl
  bottom: 106%
  left: -54px


.b-tooltip.th
  bottom: 200%
  left: -70px


.b-tooltip:before
  content: ''
  background: url(../img/angle.png) no-repeat
  background-position: 0 -23px
  width: 50px
  height: 23px
  display: inline-block
  top: 100%
  left: 50%
  margin-left: -25px
  position: absolute


.rating
  font-family: 'museo',Arial,Verdana,Tahoma,sans-serif
  font-size: 16px
  line-height: 18px
  color: #000
  width: 280px


.rating .stars i
  background: url(../img/stars.png) no-repeat
  background-size: 34px auto
  width: 17px
  height: 17px
  display: inline-block
  vertical-align: middle
  margin-right: 1.3px


.rating .stars i
  background: url(../img/stars.png) no-repeat
  background-size: 34px auto
  width: 17px
  height: 17px
  display: inline-block
  vertical-align: middle
  margin-right: 1.3px


.rating .stars.active i
  cursor: pointer


.rating .stars.active i:hover
  -webkit-transform: scale(1.5) rotate(0.1deg)
  -moz-transform: scale(1.5) rotate(0.1deg)
  -ms-transform: scale(1.5) rotate(0.1deg)
  -o-transform: scale(1.5) rotate(0.1deg)
  transform: scale(1.5) rotate(0.1deg)
  background-position: 0 0


.rating .stars .star
  background-position: 0 0


.rating .stars .star-dis
  background-position: -17px 0


  
.benefits
  background: #FFFFFF

.app-box
  background-color: #F4F7FB

.app-box-inner-wrapper
  padding: 27px 0 17px 0

.app-box-inner
  display: inline-block
  position: relative
  width: 962px
  margin: 12px auto
  padding: 17px 28px 24px
  border: 1px solid #dfe0e2
  border-radius: 5px
  background-color: #FFFFFF

.app-box-inner .bg-device
  background: url(../img/get-in-touch.png) no-repeat
  width: 396px
  height: 253px
  right: 51px
  position: absolute
  bottom: 0
  pointer-events: none

.app-box-inner .apps
  overflow: hidden
  display: inline-block
  font-size: 0
  margin-top: 44px

.apps .btn-store
  background: url(../img/sprite.png)
  float: left
  height: 59px

.apps .btn-store.app-ios
  background-position: -169px -39px
  width: 176px

.apps .btn-store.app-android
  background-position: -345px -39px
  width: 177px

.apps a:hover
  background: url(../img/sprite-h.png)

.footer-inner
  padding-bottom: 15px

.footer-rights
  padding-bottom: 15px

.footer-nav
  padding-top: 15px

.footer-inner .modalLink
  margin-left: 15px

.overlay
  display: none
  height: 100%
  left: 0
  position: fixed
  top: 0
  width: 100%
  z-index: 1000