body
  margin: 0
  background-color: #e7e9ed
  position: relative

header
  background-color: #FFFFFF
  overflow: hidden
  padding: 16px 0 12px
  text-align: center

footer
  overflow: hidden
  padding-top: 20px
  background: #FFFFFF

.title
  font-size: 28px
  font-weight: bold
  padding-top: 30px
  padding-bottom: 15px

.small-title
  font-size: 18px
  font-weight: bold
  padding: 8px 0 15px

.banner-header
  padding-bottom: 20px
  color: #fe9001
  text-transform: uppercase
  display: block
  font-size: 24px
  -webkit-margin-before: 1em
  -webkit-margin-start: 0px
  -webkit-margin-end: 0px
  font-weight: bold

.high-text
  font-size: 18px
  line-height: 23px

.contrast
  color: #FFFFFF

.personage
  background: url(../img/personages.png) no-repeat
  height: 235px
  overflow: hidden
  pointer-events: none
  position: absolute
  opacity: 1
  z-index: 10
  -webkit-transition: opacity .3s
  -moz-transition: opacity .3s
  -ms-transition: opacity .3s
  -o-transition: opacity .3s
  transition: opacity .3s

.border-row
  border-top: 1px solid #CCCCCC

.box-shadow
  box-shadow: inset 0 8px 8px -8px rgba(0,0,0,.1)


.mainWrapper
  width: 100%
  max-width: 1280px
  margin: 0 auto
  background-color: #F4F7FB
  box-shadow: 0 1px 18px 0 rgba(0,0,0,.1)

.icon:before
  content: ''
  background: url('../img/sprite.png') no-repeat
  display: inline-block
  position: absolute

.col-centered
  float: none
  margin: 0 auto

.header-logo:hover
  opacity: .8

.header-inner
  height: 50px
  background: #F4F7FB

.promo-inner, .banner-inner, .carousel-stock-inner, .stats-inner, .app-box-inner-wrapper, .benefits-inner, .footer-inner, .footer-nav
  max-width: 962px
  margin: 0 auto

.promo
  position: relative
  height: 564px
  margin-bottom: 30px
  background: radial-gradient(ellipse, #e6a124, rgba(255, 123, 12, 0.8))

.promo .personage
  width: 205px
  bottom: -13px
  left: -7px
  background-position: 0 0

.promo-bg-form
  background: url(../img/food-bg.png) no-repeat center 137px
  height: 100%

.promo-inner
  max-width: 916px
  height: 564px

.advant
  width: 100%
  margin: 0 auto
  padding: 27px 0 34px

.advant-box
  display: inline-block
  color: #fff
  vertical-align: top

.advant-box b
  font-family: 'museobold',Arial,Verdana,Tahoma,sans-serif
  font-size: 22px

.advant-box p
  background: url(../img/advant.png) no-repeat 0 0
  font-size: 12px
  height: 56px
  padding: 5px 20px 0 70px
  margin-top: 10px

.advant-box.b1
  width: 40%

.advant-box.b1 p
  background-position: 0 0

.advant-box.b2
  width: 34%

.advant-box.b2 p
  background-position: 0 -56px

.advant-box.b3
  width: 25%

.advant-box.b3 p
  background-position: 0 -112px

.banner-inner
  border: 1px solid #dfe0e2
  height: 239px
  max-width: 962px
  margin: 12px auto
  padding: 17px 28px 24px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  background: url(../img/invite-bg.jpg) no-repeat center center

.banner-inner p
  font-size: 19px
  color: #393939
  line-height: 21px

.carousel-stock-inner
  background-color: #fff
  border: 1px solid #dfe0e2
  max-width: 962px
  margin: 12px auto
  padding: 17px 28px 24px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px

.stats
  position: relative
  height: 108px
  background: radial-gradient(ellipse, #e6a124, rgba(255, 123, 12, 0.8))

.stats-inner
  padding-top: 25px

.stats-content
  overflow: hidden
  float: left
  display: inline-block

.stats-content-text
  display: inline-block
  padding: 0 25px 0 10px

.stats .personage
  background-position: -205px 0
  right: 36px
  bottom: 0
  width: 159px

.benefits
  background: #FFFFFF

.app-box
  background-color: #F4F7FB

.app-box-inner-wrapper
  padding: 27px 0 17px 0

.app-box-inner
  display: inline-block
  position: relative
  width: 962px
  margin: 12px auto
  padding: 17px 28px 24px
  border: 1px solid #dfe0e2
  border-radius: 5px
  background-color: #FFFFFF

.app-box-inner .bg-device
  background: url(../img/get-in-touch.png) no-repeat
  width: 396px
  height: 253px
  right: 51px
  position: absolute
  bottom: 0
  pointer-events: none

.app-box-inner .apps
  overflow: hidden
  display: inline-block
  font-size: 0
  margin-top: 44px

.apps .btn-store
  background: url(../img/sprite.png)
  float: left
  height: 59px

.apps .btn-store.app-ios
  background-position: -169px -39px
  width: 176px

.apps .btn-store.app-android
  background-position: -345px -39px
  width: 177px

.apps a:hover
  background: url(../img/sprite-h.png)
